body
{
width: 800px;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
background-color: #F4EBD9;
color: #343434;
font-family: Times;
  font-size: 20px;
  padding-left: 25px;
}

.Notes.a:link
{
 font-family: Arial;
  font-size: 16px;
  background-color:  #FEECB7;
 color: black;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
 border-radius: 25px;
}

.Notes.a:hover, a:active 
{
  background-color: #6c7b95;
}

p
{
 font-family: Arial;
 font-size: 16px;
 background-color: #FEECB7;
}

label
{
font-family: Arial;
font-size: 18px;
 padding: 6px 20px;
 border: 1px solid #FEECB7;
 border-top-right-radius: 25px; 
 background-color: #FEECB7;
}

input[type=text], select 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #c7f0db;
  border-radius: 4px;
  box-sizing: border-box;
 background-color: white;
}

h1
{
 font-family: Bookman;
 font-size: 36px;
 font-style: bold;
 background-color: #FEECB7;
 text-align: center;
}

function listFunction() {
  document.getElementById("listDropDown").classList.toggle("show");
}


.listDropDown
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
