body
{
width: 800px;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
background-color: #F4EBD9;
color: #343434;
font-family: Times;
  font-size: 20px;
  padding-left: 25px;
}

.Notes a:link, .submitBut a:link
{
  font-size: 16px;
  background-color:  #FEECB7;
  color: black;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
 border-radius: 20px;
}

.Notes a:hover, a:active, .submitBut a:hover, a:active 
{
  background-color: #6c7b95;
}

h1
{
 font-family: Bookman;
 font-size: 36px;
 font-style: bold;
 background-color: #FEECB7;
 text-align: center;
 border-radius: 15px;
}

p
{
 font-family: Arial;
 font-size: 18px;
 background-color: #FEECB7;
 padding-left: 15px;
 border-radius: 15px;
}

/*form*/

 .bsListDrop
 {
  background-color: #FEECB7;
  padding: 6px 20px;
  font-size: 18px;
  border: 1px solid #FEECB7;
  border-top-right-radius: 25px; 
}

label
{
font-family: Arial;
font-size: 18px;
 padding: 6px 20px;
 border: 1px solid #FEECB7;
 border-top-right-radius: 25px; 
 background-color: #FEECB7;
}

input[type=text]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #c7f0db;
  border-radius: 4px;
  box-sizing: border-box;
 background-color: white;
}



