body
{
width: 800px;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #E5D3BB;
  color: #343434;
  font-family: Times;
  font-size: 20px;
  padding-left: 25px;
}

.Notes a:link
{
  font-size: 16px;
  background-color:  #E5D3BB;
  color: black;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

.Notes a:hover, a:active
{
  background-color: #18586F;
}

h1
{
 font-family: Bookman;
 font-size: 36px;
 font-style: bold;
 background-color: #E5D3BB;
 text-align: center;
 border-radius: 10px;
}

p
{
 font-family: Arial;
 font-size: 18px;
 background-color: #E5D3BB;
 padding-left: 15px;
 border-radius: 5px;
 text-align: center;
}

/*form*/

.bsListDrop
{
 font-family: Arial;
 font-size: 18px;
 padding: 50px 50px;
 border: 1px solid #E5D3BB;
 border-top-right-radius: 25px; 
 background-color: #E5D3BB;
}

label
{
 font-family: Arial;
 font-size: 18px;
 padding: 6px 20px;
 border: 1px solid #E5D3BB;
 border-top-right-radius: 25px; 
 background-color: #E5D3BB;
}

input[type=text]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #c7f0db;
  border-radius: 4px;
  box-sizing: border-box;
 background-color: white;
}

input[type=submit]
{
  font-size: 16px;
  background-color:  #E5D3BB;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border: 1px solid #E5D3BB;
  border-radius: 20px;
  width: 100%;
}

/*table*/

table
{
  font-size: 18px;
  background-color: #E5D3BB;
  border: 5px solid #18586F;
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
}

thead
{
  padding: 20px 50px;
  text-align: center;
  font-family: Arial;
  font-size: 18px:
}



